src/main/resources/wsdl/CreditOrgInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        xmlns:tns="http://web.cbr.ru/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://web.cbr.ru/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Справочник по кредитным организациям, ver -
        07.03.2017
    </wsdl:documentation>
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://web.cbr.ru/">
            <s:element name="BicToIntCode">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="BicCode" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="BicToIntCodeResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="BicToIntCodeResult" type="s:double"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="CreditInfoByIntCodeExXML">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InternalCodes" type="tns:ArrayOfDouble"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfDouble">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double"/>
                </s:sequence>
            </s:complexType>

            <s:element name="CreditInfoByIntCodeExXMLResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CreditInfoByIntCodeExXMLResult">
                            <s:complexType mixed="true">
                                <s:sequence>
                                    <s:any/>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>

        </s:schema>
    </wsdl:types>

    <wsdl:message name="BicToIntCodeSoapIn">
        <wsdl:part name="parameters" element="tns:BicToIntCode"/>
    </wsdl:message>
    <wsdl:message name="BicToIntCodeSoapOut">
        <wsdl:part name="parameters" element="tns:BicToIntCodeResponse"/>
    </wsdl:message>

    <wsdl:message name="CreditInfoByIntCodeExXMLSoapIn">
        <wsdl:part name="parameters" element="tns:CreditInfoByIntCodeExXML"/>
    </wsdl:message>
    <wsdl:message name="CreditInfoByIntCodeExXMLSoapOut">
        <wsdl:part name="parameters" element="tns:CreditInfoByIntCodeExXMLResponse"/>
    </wsdl:message>

    <wsdl:portType name="CreditOrgInfoSoap">
        <wsdl:operation name="BicToIntCode">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Bic код во внутренний код кред.орг.
            </wsdl:documentation>
            <wsdl:input message="tns:BicToIntCodeSoapIn"/>
            <wsdl:output message="tns:BicToIntCodeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreditInfoByIntCodeExXML">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Информация о кредитной орг. по вн.коду
                (как XML Document) ver- 26.02.2015
            </wsdl:documentation>
            <wsdl:input message="tns:CreditInfoByIntCodeExXMLSoapIn"/>
            <wsdl:output message="tns:CreditInfoByIntCodeExXMLSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CreditOrgInfoSoap" type="tns:CreditOrgInfoSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BicToIntCode">
            <soap:operation soapAction="http://web.cbr.ru/BicToIntCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreditInfoByIntCodeExXML">
            <soap:operation soapAction="http://web.cbr.ru/CreditInfoByIntCodeExXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CreditOrgInfo">
        <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Справочник по кредитным организациям, ver -
            07.03.2017
        </wsdl:documentation>
        <wsdl:port name="CreditOrgInfoSoap" binding="tns:CreditOrgInfoSoap">
            <soap:address location="http://www.cbr.ru/CreditInfoWebServ/CreditOrgInfo.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>